.container {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
}

.optionsContainer {
    display: flex;
    flex-direction: row-reverse;
}